# Introdução ao pandas

## [Anderson Berg](https://github.com/andersonberg/)

Uma pequena introdução à biblioteca pandas para iniciantes e veteranos em data science

## Antes de tudo vamos obter os dados.

In [9]:
import pandas as pd
df_pop = pd.read_excel("total_populacao_pernambuco.xls")
df_pop.head()

,Código do município,Nome do município,Total da população 2000,Total de homens,Total de mulheres,Total da população urbana,Total da população rural,Total da população 2010
0,2600054,Abreu e Lima,89039.0,45165.0,49263.0,86589.0,7839.0,94428.0
1,2600104,Afogados da Ingazeira,32922.0,16790.0,18301.0,27406.0,7685.0,35091.0
2,2600203,Afrânio,15014.0,8751.0,8837.0,5859.0,11729.0,17588.0
3,2600302,Agrestina,20036.0,10938.0,11742.0,16955.0,5725.0,22680.0
4,2600401,Água Preta,28531.0,16581.0,16465.0,18708.0,14338.0,33046.0

### Podemos remover colunas

In [14]:
df_pop = df_pop.drop('Código do município', axis=1)
df_pop = df_pop.drop(df_pop.columns[[3, 4, 5, 6]], axis=1)
df_pop.head()

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

### Renomear colunas é bem simples

In [38]:
df_pop.rename(columns={"Total da população 2000": "Total 2000", "Total da população 2010": "Total 2010"}, inplace=True)
df_pop.head()

       Nome do município  Total 2000  Total 2010
0           Abreu e Lima     89039.0     94428.0
1  Afogados da Ingazeira     32922.0     35091.0
2                Afrânio     15014.0     17588.0
3              Agrestina     20036.0     22680.0
4             Água Preta     28531.0     33046.0

### Algumas linhas podem conter células vazias

In [39]:
df_pop.tail()

          Nome do município  Total 2000  Total 2010
182                Vicência     28820.0     30731.0
183  Vitória de Santo Antão    117609.0    130540.0
184                   Xexéu     13597.0     14092.0
185              Pernambuco   7918344.0   8796032.0
186                     NaN         NaN         NaN

In [40]:
df_pop.dropna(axis=0, how='all', inplace=True)
df_pop.tail()

          Nome do município  Total 2000  Total 2010
181               Vertentes     14957.0     18267.0
182                Vicência     28820.0     30731.0
183  Vitória de Santo Antão    117609.0    130540.0
184                   Xexéu     13597.0     14092.0
185              Pernambuco   7918344.0   8796032.0

### Usamos a função map para modificar todos os elementos de uma coluna

In [41]:
df_pop["Total 2000"] = df_pop["Total 2000"].map(lambda x: int(x))
df_pop["Total 2010"] = df_pop["Total 2010"].map(lambda x: int(x))
df_pop.head()

       Nome do município  Total 2000  Total 2010
0           Abreu e Lima       89039       94428
1  Afogados da Ingazeira       32922       35091
2                Afrânio       15014       17588
3              Agrestina       20036       22680
4             Água Preta       28531       33046

### Esses dados são das primárias das eleições nos Estados Unidos. O download pode ser feito aqui: [https://www.kaggle.com/benhamner/2016-us-election](https://www.kaggle.com/benhamner/2016-us-election)

In [42]:
import pandas as pd
import numpy as np
election_data = pd.read_csv("primary_results.csv", delimiter=',')
election_data.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

## Qual foi o total de votos nas primárias?

In [43]:
election_data['votes'].sum()

56759187

## Quais candidatos disputaram as primárias?

In [44]:
for candidate in election_data.candidate.unique():
    print(candidate)

Bernie Sanders
Hillary Clinton
Ben Carson
Donald Trump
John Kasich
Marco Rubio
Ted Cruz
 Uncommitted
Martin O'Malley
Carly Fiorina
Chris Christie
Jeb Bush
Mike Huckabee
Rand Paul
Rick Santorum
 No Preference

## Qual foi o total de votos de cada candidato por estado?

In [45]:
data_group = pd.pivot_table(election_data,index=["state","party","candidate"],
               values=["votes"],
               aggfunc={"votes": np.sum},fill_value=0)
data_group

                                            votes
state         party      candidate
Alabama       Democrat   Bernie Sanders     76399
                         Hillary Clinton   309928
              Republican Ben Carson         87517
                         Donald Trump      371735
                         John Kasich        37970
                         Marco Rubio       159802
                         Ted Cruz          180608
Alaska        Democrat   Bernie Sanders       440
                         Hillary Clinton       99
              Republican Ben Carson          2401
                         Donald Trump        7346
                         John Kasich          892
                         Marco Rubio         3318
                         Ted Cruz            7973
Arizona       Democrat   Bernie Sanders    163400
                         Hillary Clinton   235697
              Republican Donald Trump      249916
                         John Kasich        53040
                         Ted Cruz          132147
Arkansas      Democrat   Bernie Sanders     64868
                         Hillary Clinton   144580
              Republican Ben Carson         23173
                         Donald Trump      133144
                         John Kasich        15098
                         Marco Rubio       101235
                         Ted Cruz          123873
California    Democrat   Bernie Sanders   1502043
                         Hillary Clinton  1940580
              Republican Donald Trump     1174829
                         John Kasich       176620
...                                           ...
Vermont       Republican Marco Rubio        11778
                         Ted Cruz            5929
Virginia      Democrat   Bernie Sanders    275507
                         Hillary Clinton   503358
              Republican Ben Carson         60093
                         Donald Trump      355960
                         John Kasich        96519
                         Marco Rubio       327042
                         Ted Cruz          173193
Washington    Democrat   Bernie Sanders     19159
                         Hillary Clinton     7140
              Republican Donald Trump      403003
                         John Kasich        52129
                         Ted Cruz           55719
West Virginia Democrat   Bernie Sanders    123860
                         Hillary Clinton    86354
              Republican Donald Trump      156245
                         John Kasich        13685
                         Ted Cruz           18208
Wisconsin     Democrat   Bernie Sanders    567936
                         Hillary Clinton   432767
              Republican Donald Trump      386370
                         John Kasich       155200
                         Ted Cruz          531129
Wyoming       Democrat   Bernie Sanders       156
                         Hillary Clinton      124
              Republican Donald Trump          70
                         John Kasich            0
                         Marco Rubio          189
                         Ted Cruz             644

[290 rows x 1 columns]

In [46]:
election_data['Rank'] = election_data.groupby(['county', 'party'])['votes'].rank(ascending=False)
election_data[election_data['county']=='Autauga']

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,Rank
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,2.0
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,1.0
134,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,4.0
135,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,1.0
136,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,5.0
137,Alabama,AL,Autauga,1001.0,Republican,Marco Rubio,1785,0.148,3.0
138,Alabama,AL,Autauga,1001.0,Republican,Ted Cruz,2482,0.205,2.0

In [47]:
new_data = election_data.groupby(['state', 'party', 'candidate']).sum()
new_data = new_data.reset_index()
new_data['Rank'] = new_data.groupby(['state', 'party'])['votes'].rank(ascending=False)
pivot_data = pd.pivot_table(new_data,index=["state","party","candidate"],
               values=["votes", "Rank"],
               fill_value=0)
pivot_data

                                          Rank    votes
state         party      candidate
Alabama       Democrat   Bernie Sanders      2    76399
                         Hillary Clinton     1   309928
              Republican Ben Carson          4    87517
                         Donald Trump        1   371735
                         John Kasich         5    37970
                         Marco Rubio         3   159802
                         Ted Cruz            2   180608
Alaska        Democrat   Bernie Sanders      1      440
                         Hillary Clinton     2       99
              Republican Ben Carson          4     2401
                         Donald Trump        2     7346
                         John Kasich         5      892
                         Marco Rubio         3     3318
                         Ted Cruz            1     7973
Arizona       Democrat   Bernie Sanders      2   163400
                         Hillary Clinton     1   235697
              Republican Donald Trump        1   249916
                         John Kasich         3    53040
                         Ted Cruz            2   132147
Arkansas      Democrat   Bernie Sanders      2    64868
                         Hillary Clinton     1   144580
              Republican Ben Carson          4    23173
                         Donald Trump        1   133144
                         John Kasich         5    15098
                         Marco Rubio         3   101235
                         Ted Cruz            2   123873
California    Democrat   Bernie Sanders      2  1502043
                         Hillary Clinton     1  1940580
              Republican Donald Trump        1  1174829
                         John Kasich         2   176620
...                                        ...      ...
Vermont       Republican Marco Rubio         3    11778
                         Ted Cruz            4     5929
Virginia      Democrat   Bernie Sanders      2   275507
                         Hillary Clinton     1   503358
              Republican Ben Carson          5    60093
                         Donald Trump        1   355960
                         John Kasich         4    96519
                         Marco Rubio         2   327042
                         Ted Cruz            3   173193
Washington    Democrat   Bernie Sanders      1    19159
                         Hillary Clinton     2     7140
              Republican Donald Trump        1   403003
                         John Kasich         3    52129
                         Ted Cruz            2    55719
West Virginia Democrat   Bernie Sanders      1   123860
                         Hillary Clinton     2    86354
              Republican Donald Trump        1   156245
                         John Kasich         3    13685
                         Ted Cruz            2    18208
Wisconsin     Democrat   Bernie Sanders      1   567936
                         Hillary Clinton     2   432767
              Republican Donald Trump        2   386370
                         John Kasich         3   155200
                         Ted Cruz            1   531129
Wyoming       Democrat   Bernie Sanders      1      156
                         Hillary Clinton     2      124
              Republican Donald Trump        3       70
                         John Kasich         4        0
                         Marco Rubio         2      189
                         Ted Cruz            1      644

[290 rows x 2 columns]

In [48]:
new_data[new_data['Rank'] == 1]['candidate'].value_counts()

Donald Trump       36
Hillary Clinton    28
Bernie Sanders     21
Ted Cruz            9
John Kasich         1
Name: candidate, dtype: int64

# Obrigado!

## Alguns extras...

### Podemos saber o tipo de dado em cada coluna

In [49]:
df_pop.dtypes

Nome do município    object
Total 2000            int64
Total 2010            int64
dtype: object

### Ou acessar uma determinada linha

In [50]:
df_pop.loc[181]

Nome do município    Vertentes
Total 2000               14957
Total 2010               18267
Name: 181, dtype: object

In [ ]:
# converte string em datetime
dataframe[col] = pd.to_datetime(dataframe[col], format='%d/%m/%y')

# converte datetime em string
df['data'] = df['data'].apply(lambda x: x.strftime('%d/%m/%Y'))

# formata porcentagem
df['taxa'] = pd.Series(["{0:.2f}%".format(val * 100) for val in df['taxa']], index=df.index)

In [ ]:
# salva em xlsx
writer = pd.ExcelWriter('Relatório.xlsx')
df.to_excel(writer, engine='io.excel.xlsx.writer')

# Obrigado!